@font-face {
  /* 수정하기 */
  font-family: 'CustomFont';
  src: url('/fonts/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBHMdazQ.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family:
    'CustomFont', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Helvetica Neue', 'Arial', 'sans-serif';
  color: #212529;
  background: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

*:focus-visible {
  outline: 2px solid blue;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
